node_modules
dist
coverage
build
.env
.env.*
!.env.example
.npmrc
.git
.gitignore
.github
.idea
.vscode
src/generated/prisma
test
docker-compose.yml
*.md
*.log
*.tsbuildinfo
*.spec.ts
*.test.ts
prisma.config.js
prisma.config.js.map
prisma.config.d.ts
