PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://renyqo:renyqo_dev@localhost:5433/renyqo_dev
E2E_DATABASE_URL=postgresql://renyqo:renyqo_dev@localhost:5434/renyqo_e2e?schema=public
E2E_DATABASE_ALLOW_RESET=true
SESSION_SECRET=
FRONTEND_URL=http://localhost:3001
AWS_REGION=eu-central-1
SES_FROM_EMAIL=no-reply@example.com
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=renyqo
